html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.root {
    background: #ffffff;
}

.home {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.hero {
    margin-left: 100px;
}

.hero h1 span {
    font-size: 70px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.hero1 {
    color: #0e4203;
}

.hero2 {
    color: #135c03;
}

.hero3 {
    color: #1d8e04;
}

.hero h2 {
    font-size: 30px;
    margin-top: 20px;
    color: #484848;
}

.hero p {
    margin-top: 20px;
    font-size: 19px;
    color: #595959;
    width: 500px;
    line-height: 1.5;
}

.generateNowBtn {
    display: none;
    margin-top: 30px;
    background-color: #1d8e04;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.generateNowBtn:hover {
    background-color: #125603;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 100px;
}

.git-repo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #ffffff;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 18px;
    border: 1px solid #000000;
    color: #000000;
    font-weight: 500;
    align-self: flex-end;
    margin-right: 10px;
}

.container1 {
    padding: 10px;
    border-radius: 10px;
}

.password-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 650px;
    max-width: 100%;
    position: relative;
    box-shadow: 0 4px 8px #0000003b;
}

.show_password {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #333;
    animation: fadeIn 0.5s ease-in;
}

.copyBtn {
    display: none;
    position: absolute;
    right: 15px;
    background-color: #67ad58;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.customizer {
    display: flex;
    padding: 20px 30px 40px 30px;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295);
}

.customizer h2 {
    color: #5b5b5b;
}

.customizer p {
    color: #595959;
    font-weight: 700;
}

.num_length {
    width: 50px;
    height: 35px;
    border: solid 1px #9a9a9a;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.password-length {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.num_range {
    accent-color: #1d8e04;
    width: 90%;
}

.option1,
.option2 {
    display: flex;
    flex-wrap: wrap;
    accent-color: #1d8e04;
    gap: 20px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.checkbox {
    display: flex;
    gap: 5px;
}

.findMe {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 6px;
}

.links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.icons {
    height: 30px;
}

.generate {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generateBtn {
    background-color: #1d8e04;
    color: white;
    border: none;
    padding: 12px;
    width: 50%;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.generateBtn:hover {
    background-color: #125603;
}

.features {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.features h3 {
    font-size: 45px;
    margin: 70px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 0 70px;
}

.feature-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    gap: 20px;
    border: 0.5px solid #929292;
    /* box-shadow:  0 8px 16px rgba(0, 0, 0, 0.71); */
}

.feature-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.221);
}

.feature-card img,
svg {
    align-self: center;
}

.feature-card h4 {
    align-self: center;
    font-size: 20px;
    color: #333;
}

.feature-card p {
    font-size: 16px;
    text-align: justify;
    color: #333;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h3 {
    font-size: 45px;
    margin: 70px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.about p {
    font-size: 20px;
    text-align: justify;
    color: #333;
    width: 70%;
    margin-bottom: 70px;
    text-align: justify;
}

.footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    font-size: 15px;
    font-weight: 500;
}

.name {
    text-decoration: none;
    color: #156305;
}

/* ---------- RESPONSIVE DESIGN ---------- */
@media (max-width: 1450px) {

    .hero {
        margin-left: 40px;
    }

    .hero h1 span {
        font-size: 60px;
    }

    .hero p {
        width: 100%;
        font-size: 16px;
    }

    .show_password {
        font-weight: 600;
        font-size: 8px;
    }

    .container {
        margin-right: 40px;
        width: 80%;
    }

    .container a svg {
        width: 30px;
        height: 30px;
    }

    .links {
        gap: 3%;
    }

    .password-display {
        width: 100%;
    }
}

/* Tablets */
@media (max-width: 992px) {
    .home {
        flex-direction: column;
        text-align: center;
        padding: 0;
        gap: 100px;
        height: 100vh;
        justify-content: space-around;
        margin-top: 250px;
        margin-bottom: 70px;
    }

    .hero {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero h1 span {
        font-size: 50px;
    }

    .hero p {
        width: 70%;
        font-size: 16px;
    }

    .show_password {
        font-weight: 700;
        font-size: 12px;
    }

    .generateNowBtn {
        display: block;
    }

    .findMe p {
        align-self: start;
        text-align: center;
        font-size: 14px;
    }

    .container {
        margin-right: 0;
        width: 100%;
    }

    .container a svg {
        width: 30px;
        height: 30px;
    }

    .links {
        gap: 0;
    }

    .password-display {
        width: 100%;
    }

    .features h3 {
        font-size: 38px;
    }
}

/* Mobiles */
@media (max-width: 600px) {
    .home {
        height: 100vh;
        justify-content: space-around;
        margin-bottom: 200px;
    }

    .hero h1 span {
        font-size: 36px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero p {
        font-size: 14px;
    }

    .show_password {
        font-weight: 600;
        font-size: 8px;
    }

    .customizer {
        padding: 15px;
    }

    .container a svg {
        width: 20px;
        height: 20px;
    }

    .links {
        gap: 3px;
    }

    .option1,
    .option2 {
        flex-direction: column;
        gap: 10px;
    }

    .generateBtn {
        font-size: 14px;
        padding: 10px;
    }

    .features h3 {
        font-size: 28px;
    }

    .feature-card h4 {
        font-size: 18px;
    }

    .feature-card p {
        font-size: 14px;
    }

    .about h3 {
        font-size: 40px;
    }

    .about p {
        font-size: 16px;
    }
}